body{
    background-color: #f5d9d5;
    font-family: 'Nunito',sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

h2{
    color: #5A1567;
    font-weight: 300;
    font-size: 2.5rem;
}
p{
    color: #5A1567;
    font-size: 1.5rem;
    line-height: 2;
}
#mainNavbar{
    font-size: 1.5rem;
    font-weight:300;
}
#mainNavbar .nav-link{
    color: white;
}
#mainNavbar .nav-link:hover{
    color: #5A1567;
}
#mainNavbar .navbar-brand{
    color:#5A1567;
    font-size: 2.5rem;
    font-weight:400;
}

#headingGroup h2{
    color:#5A1567;
    font-weight: lighter;
    
}

#headingGroup span{
    color: white;
    font-weight: bolder;

}

.navbar.scrolled {
    background-color:#e9cddc;
    transition: background 500ms;
}

@media (max-width:1200px){
    #headingGroup h2{
        color:#5A1567;
        font-weight: lighter;
        font-size: 2rem;
    }
}